*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Mukta", sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: white;
}

header{
    top: 4;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5%;
    margin-bottom: 2;
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.navmenu{
    display: flex;
    align-items: center;
}

.navmenu li{
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.navmenu a{
    color: #212832;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transition: all .42s;
}

.navmenu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #212832;
    bottom: -2px;
    left: 0;
    transition: all .42s;
}

.navmenu a:hover::after{
    width: 100%;
}

.btn-icon{
    display: flex;
    align-items: center;
}

.nav-btn{
    font-size: 17px;
    color: #212832;
    font-weight: 500;
    border: 2px solid #212832;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all .42s;
}

.nav-btn:hover{
    background-color: #212832;
    color: #fff;
}

.menu-icon{
    font-size: 35px;
    color: #212832;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

home{
    width: 100%;
}

.home-images {
    top: 0;
    right: 0;
    padding: 2px 5%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.home-images img{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width: 100%;
    height: 400px; 
    background-color: white;
    background-position: bottom;
    object-fit: contain;
    transition: transform 1s ease-in-out;
    transform: translateY(-3px);
}

/* sticky design */

header.sticky{
    background-color: white;
    padding: 22px 12%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: .43s;
}

.center-text{
    text-align: center;
    margin-bottom: 50%;
}

.center-text h4{
    font-size: 20px;
    color: blue;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100px;
}

.center-text h2{
    font-size: 34px;
    color: black;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'poppins';
    margin-bottom: 90px;
}

.home-images img:hover{
    transform: scale(1.1);
}


.categories-container {
    display: flex;
   /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top: 20px;
}

.category {
    flex: 0 0 calc(25% - 20px); 
    margin: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: transform 0.3s ease-in-out;
}

.category img {
    width: 20%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.category:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .category {
        flex-basis: calc(50% - 20px);
    }
}


@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .navmenu {
        display: none;
    }

    .menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-btn {
        display: none;
    }

    .home-images {
        padding: 10px;
    }

    .images {
        flex: 1 1 100%;
    }
}
